header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  background: #f5f5f5;
  border-bottom: 1px solid #ccc;
  height: 50px;
  font-family: Arial, sans-serif;
}

#current-menu-title {
  font-weight: bold;
  font-size: 1.2rem;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1rem;
}

nav ul li a {
  display: flex;
  align-items: center;
  color: #444;
  text-decoration: none;
  padding: 5px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

nav ul li a svg {
  display: block;
}

nav ul li a.active,
nav ul li a:hover {
  background-color: #ddd;
  color: #000;
}
main {
  display: flex; /* Включаем флексбокс */
  justify-content: center; /* Горизонтальное центрирование */
  align-items: center; /* Вертикальное центрирование */
  height: 100vh; /* Высота страницы = высоте окна */
}

.fight-button {
  display: inline-block;
  padding: 12px 24px;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #4b6cff;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.fight-button:hover {
  background-color: #cc0000;
}
